In [10]:
import re
import pandas as pd
from nltk.tokenize import WordPunctTokenizer
from bs4 import BeautifulSoup
from src.tweet_cleaner import TweetCleaner

In [11]:
cols = ['sentiment','id','date','query_string','user','text']
df = pd.read_csv("data/source/train.csv", header=None, names=cols, encoding="ISO-8859-1")

In [12]:
df.head()

,sentiment,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [13]:
df.drop(['id','date','query_string','user'],axis=1,inplace=True)

In [14]:
df.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [15]:
df['sentiment'] = df['sentiment'].map({0: 0, 4: 1})
df.sentiment.value_counts()

1    800000
0    800000
Name: sentiment, dtype: int64

In [16]:
clean_tweets = []
tweetCleaner = TweetCleaner()
count=-1
for tweet in df['text']:
    count+=1
    if( (count)%100000 == 0):
        print(count, 'tweets processed')
    clean_tweets.append(tweetCleaner.clean(tweet))
print('done')

0 tweets processed
100000 tweets processed

KeyboardInterrupt:

In [17]:
clean_df = pd.DataFrame(clean_tweets, columns=['text'])
clean_df['sentiment'] = df.sentiment
clean_df.head()

                                                text  sentiment
0  awww that bummer you shoulda got david carr of...          0
1  is upset that he can not update his facebook b...          0
2  dived many times for the ball managed to save ...          0
3     my whole body feels itchy and like its on fire          0
4  no it not behaving at all mad why am here beca...          0

In [67]:
clean_df.text = clean_df.text[clean_df.text != '']
clean_df.dropna(inplace=True)
clean_df.reset_index(drop=True,inplace=True)
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596041 entries, 0 to 1596040
Data columns (total 2 columns):
text         1596041 non-null object
sentiment    1596041 non-null int64
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

In [68]:
clean_df.to_csv('data/clean_tweets_test.csv',encoding='utf-8')