# Load datasets to mLab

* https://www.kaggle.com/c/twitter-sentiment-analysis2/discussion
* https://www.kaggle.com/kazanova/sentiment140

In [1]:
import pymongo
import pandas as pd
import numpy as np
import random

In [2]:
def db_connection(collection_name): 
    # connect to mLab DB
    try:
        with open("../credentials/mlab_credentials.txt", 'r', encoding='utf-8') as f:
            [name,password,url,dbname]=f.read().splitlines()
            db_conn = pymongo.MongoClient("mongodb://{}:{}@{}/{}".format(name,password,url,dbname))
            print ("DB connected successfully!!!")
    except pymongo.errors.ConnectionFailure as e:
        print ("Could not connect to DB: %s" % e) 
        
    db = db_conn[dbname]
    collection = db[collection_name]
    
    return collection


def kaggle_id(id):
    return "kaggle_train_" + str(id)


def sentiment140_id(id):
    return "sentiment140_" + str(id)


def random_sentiment(sentiment):
    sentiments_list = [-1,0,1]
    return random.choice(sentiments_list)


def random_location(dummy):
    location = random.choice(locations_list)
    #location = locations_list[0]
    lat = random_location_lat(location)
    lon = random_location_lon(location)
    return [lat,lon]

def random_location_lat(location):
    #location = random.choice(locations_list)
    #location = locations_list[0]
    lat = location["lat_min"] + random.random()*(location["lat_max"] - location["lat_min"])
    return lat

def random_location_lon(location):
    #location = random.choice(locations_list)
    #location = locations_list[0]
    lon = location["lon_min"] + random.random()*(location["lon_max"] - location["lon_min"])
    return lon

In [3]:
db_collection_locations = db_connection("twitter_happiness_locations")
locations_list = [location for location in db_collection_locations.find()]

DB connected successfully!!!

In [4]:
#locations_list

In [5]:
db_collection = db_connection("twitter_happiness_test")

DB connected successfully!!!

In [8]:
result = db_collection.delete_many({})
print(result.deleted_count, " documents deleted")

0  documents deleted

In [9]:
data_kaggle = pd.read_csv(
    "source/kaggle/train.csv",
    encoding='latin-1',
    header=0,
    names=["id_src","sentiment","text"]
)


data_kaggle["id"] = data_kaggle["id_src"].apply(kaggle_id)
data_kaggle["sentiment"] = data_kaggle["sentiment"].apply(random_sentiment)
#data_kaggle["lat"] = data_kaggle["sentiment"].apply(random_location_lat)
#data_kaggle["lon"] = data_kaggle["sentiment"].apply(random_location_lon)
data_kaggle["loc"] = data_kaggle.apply(random_location, axis=1)
data_kaggle["lat"] = data_kaggle["loc"].apply(lambda loc: loc[0])
data_kaggle["lon"] = data_kaggle["loc"].apply(lambda loc: loc[1])


print(data_kaggle.shape)
data_kaggle.head()

(99989, 7)

,id_src,sentiment,text,id,loc,lat,lon
0,1,-1,is so sad for my APL frie...,kaggle_train_1,"[29.63702342857413, -95.35537782160773]",29.637023,-95.355378
1,2,1,I missed the New Moon trail...,kaggle_train_2,"[41.483389054936005, 2.2228405047869244]",41.483389,2.222841
2,3,0,omg its already 7:30 :O,kaggle_train_3,"[40.84332881706086, -73.49881006560452]",40.843329,-73.498810
3,4,1,.. Omgaga. Im sooo im gunna CRy. I'...,kaggle_train_4,"[45.604520247677726, -73.77354443218005]",45.604520,-73.773544
4,5,1,i think mi bf is cheating on me!!! ...,kaggle_train_5,"[45.5341333112686, -75.9626843512826]",45.534133,-75.962684

In [10]:
db_collection.insert_many(data_kaggle.to_dict('records'))

In [11]:
print(db_collection.count())

99989

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

In [12]:
data_sentiment140 = pd.read_csv(
    "source/sentiment140/training.1600000.processed.noemoticon.csv",
    encoding='latin-1',
    header=None,
    names=["sentiment","id_src","date","flag","user","text"]
)

data_sentiment140["id"] = data_sentiment140["id_src"].apply(kaggle_id)
data_sentiment140["sentiment"] = data_sentiment140["sentiment"].apply(random_sentiment)
#data_sentiment140["lat"] = data_sentiment140["sentiment"].apply(random_location_lat)
#data_sentiment140["lon"] = data_sentiment140["sentiment"].apply(random_location_lon)
data_sentiment140["loc"] = data_sentiment140.apply(random_location, axis=1)
data_sentiment140["lat"] = data_sentiment140["loc"].apply(lambda loc: loc[0])
data_sentiment140["lon"] = data_sentiment140["loc"].apply(lambda loc: loc[1])

data_sentiment140 = data_sentiment140.head(100000).copy()
print(data_sentiment140.shape)
data_sentiment140.head()

(100000, 10)

,sentiment,id_src,date,flag,user,text,id,loc,lat,lon
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",kaggle_train_1467810369,"[41.38687246926971, 2.215406213422864]",41.386872,2.215406
1,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,kaggle_train_1467810672,"[40.88887706951048, -74.29616650174177]",40.888877,-74.296167
2,-1,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,kaggle_train_1467810917,"[38.84174937085038, -77.05194510362819]",38.841749,-77.051945
3,-1,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,kaggle_train_1467811184,"[43.64676078580431, -79.61913359444313]",43.646761,-79.619134
4,-1,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",kaggle_train_1467811193,"[34.245346218483846, -118.88440159932814]",34.245346,-118.884402

In [13]:
db_collection.insert_many(data_sentiment140.to_dict('records'))

In [14]:
print(db_collection.count())

199989

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

In [15]:
for tweet in db_collection.find()[:10]:
    print(tweet)

{'_id': ObjectId('5bf69df1523ec4046518337b'), 'sentiment': 0, 'id_src': 1685029439, 'date': 'Sat May 02 22:49:09 PDT 2009', 'flag': 'NO_QUERY', 'user': 'arizzz', 'text': "i work too much on the weekends. I'd like to blame my single status on that! ", 'id': 'kaggle_train_1685029439', 'loc': [38.87074543189877, -77.05818814834566], 'lat': 38.87074543189877, 'lon': -77.05818814834566}
{'_id': ObjectId('5bf69dbe523ec4046515f763'), 'id_src': 8837, 'sentiment': 1, 'text': " brokeback mountain was terrible.\n8838,0,Sentiment140,# @Catherine42 I wouldn't mind but I only had 1/2 a portion &amp; then left 1/2 the cream  just fruit for me then until my hols  x\n8839,1,Sentiment140,# @DeliciousLunch ... dark chocolate cookies? oh you tease! I'm writing to day n dipping into twitter for company \n8840,1,Sentiment140,# followfriday @mstuyvenberg @feb_unsw @hazelmail @beckescreet - all almost as cool as he-man and she-ra \n8841,1,Sentiment140,# followfriday @presentsqueen because she talks sense \n8842,1,Sentiment140,# New York is the most amazing city i've ever been to \n8843,0,Sentiment140,# number times I bottomed out just in our driveway = 4... a 6.5 hour trip to mass.. I'm scared \n8844,0,Sentiment140,# of NYC celebrity street vendors &gt; # of POA celebrities  http://streetvendor.org/media/pdfs/Side2.pdf\n8845,1,Sentiment140,###### yay ##### thanks @matclayton ##### \n8846,0,Sentiment140,#$%#$^#%@ I HATE THE DENTIST", 'id': 'kaggle_train_8837', 'loc': [38.89245294801222, -77.14727403696358], 'lat': 38.89245294801222, 'lon': -77.14727403696358}
{'_id': ObjectId('5bf69dbf523ec40465165699'), 'id_src': 33220, 'sentiment': 1, 'text': '@ahohey  project design à¹\x80à¸\x94à¹\x87à¸?à¸\x9eà¸µà¹\x88à¸\x9bà¸µà¸\x99à¸µà¹\x89à¸¡à¸«à¹\x89à¸\xadà¸\xadà¸?à¹?à¸\x9aà¸\x9aà¹\x82à¸£à¸\x87à¸\x9eà¸¢à¸²à¸\x9aà¸²à¸¥....à¸?à¸³à¸¥à¸±à¸\x87à¸\x97à¸³à¹\x82à¸\x9bà¸£à¹?à¸?à¸£à¸¡à¸\xadà¸¢à¸¹à¹\x88....à¹\x80à¸\x8aà¸´à¸?à¹\x80à¸\x95à¸¢à¸¡à¸² comment à¸\x94à¸µà¸?à¸§à¹\x88à¸² 5555    function à¹\x80à¸¢à', 'id': 'kaggle_train_33220', 'loc': [41.34724231610729, 2.3003686059874715], 'lat': 41.34724231610729, 'lon': 2.3003686059874715}
{'_id': ObjectId('5bf69dbf523ec40465168a06'), 'id_src': 46385, 'sentiment': -1, 'text': '@ApartHotel Ñ\x82Ñ\x8b Ñ?ÐºÐ¾Ñ\x80ÐµÐµ Ð¿Ð¾Ñ\x82ÐµÑ\x80Ñ?ÐµÑ\x88Ñ\x8c Ð¸Ð»Ð¸ Ð¿Ð¾Ð¼ÐµÐ½Ñ?ÐµÑ\x88Ñ\x8c Ñ\x82ÐµÐ»ÐµÑ\x84Ð¾Ð½ Ð¿Ñ\x80ÐµÐ¶Ð´Ðµ Ñ\x87ÐµÐ¼ Ñ?Ð´Ð¾Ñ\x85Ð½ÐµÑ\x82 Ð°ÐºÐºÑ\x83Ð¼Ñ\x83Ð»Ñ?Ñ\x82Ð¾Ñ\x80  Ð\x97Ð°Ñ\x82Ð¾ Ð¿Ñ\x80Ð¾Ñ\x87Ð½Ð¾Ñ?Ñ\x82Ñ\x8c Ñ?Ð±Ð¾Ñ\x80ÐºÐ¸ Ð±ÐµÑ?Ð¿Ð¾Ð´Ð¾Ð±Ð½Ð°Ñ? - ÐºÐ°Ðº Ð¼Ð¾Ð½Ð¾Ð»Ð¸Ñ\x82!', 'id': 'kaggle_train_46385', 'loc': [42.363540348026916, -71.11168924294931], 'lat': 42.363540348026916, 'lon': -71.11168924294931}
{'_id': ObjectId('5bf69df1523ec40465183352'), 'sentiment': 1, 'id_src': 1685018983, 'date': 'Sat May 02 22:46:57 PDT 2009', 'flag': 'NO_QUERY', 'user': 'rumblepurr', 'text': '@LouPeb me too  She a pretty princess @babypatches #pawpawty', 'id': 'kaggle_train_1685018983', 'loc': [34.117702241929614, -117.19407013807592], 'lat': 34.117702241929614, 'lon': -117.19407013807592}
{'_id': ObjectId('5bf69df1523ec40465183353'), 'sentiment': 1, 'id_src': 1685018987, 'date': 'Sat May 02 22:46:57 PDT 2009', 'flag': 'NO_QUERY', 'user': 'king_pen', 'text': '@spicypants i only got one follower after your #ff yesterday  ', 'id': 'kaggle_train_1685018987', 'loc': [45.28139533712033, -75.3696170625004], 'lat': 45.28139533712033, 'lon': -75.3696170625004}
{'_id': ObjectId('5bf69df1523ec40465183354'), 'sentiment': -1, 'id_src': 1685019252, 'date': 'Sat May 02 22:47:00 PDT 2009', 'flag': 'NO_QUERY', 'user': 'madeofmilk', 'text': '@madeofhoney mmkay. i got the perfect compromise. if u join the p.c.  im taking up violin. are u enjoying the moobie?', 'id': 'kaggle_train_1685019252', 'loc': [41.43464762034671, 2.233550791343694], 'lat': 41.43464762034671, 'lon': 2.233550791343694}
{'_id': ObjectId('5bf69df1523ec40465183355'), 'sentiment': -1, 'id_src': 1685019652, 'date': 'Sat May 02 22:47:05 PDT 2009', 'flag': 'NO_QUERY', 'user': 'mynamesreallong', 'text': '@real_rodsizzler nope, odds were shitty  oh well what u doing badoy', 'id': 'kaggle_train_1685019652', 'loc': [45.41545854735157, -73.75456337802109], 'lat': 45.41545854735157, 'lon': -73.75456337802109}
{'_id': ObjectId('5bf69df1523ec40465183356'), 'sentiment': -1, 'id_src': 1685019684, 'date': 'Sat May 02 22:47:05 PDT 2009', 'flag': 'NO_QUERY', 'user': 'VoniaPerna', 'text': 'Okay, really goodnight this time. Gotta frikin work again tomarrow  Sweet dreams everyone ZZZzzzzzz......', 'id': 'kaggle_train_1685019684', 'loc': [40.76498800202395, -74.09253361067799], 'lat': 40.76498800202395, 'lon': -74.09253361067799}
{'_id': ObjectId('5bf69df1523ec40465183357'), 'sentiment': 0, 'id_src': 1685020527, 'date': 'Sat May 02 22:47:16 PDT 2009', 'flag': 'NO_QUERY', 'user': 'karenthecrasian', 'text': "ahhhh eff! my phone number got deleted off the device thingy and now it's not letting me verify my number  so no tweets to my phone ", 'id': 'kaggle_train_1685020527', 'loc': [45.65247128549398, -73.66604550087179], 'lat': 45.65247128549398, 'lon': -73.66604550087179}