# Load datasets to mLab

* https://www.kaggle.com/c/twitter-sentiment-analysis2/discussion
* https://www.kaggle.com/kazanova/sentiment140

In [3]:
import pymongo
import pandas as pd
import numpy as np
import random

In [4]:
def db_connection(collection_name): 
    # connect to mLab DB
    try:
        with open("../credentials.txt", 'r', encoding='utf-8') as f:
            [name,password,url,dbname]=f.read().splitlines()
            db_conn = pymongo.MongoClient("mongodb://{}:{}@{}/{}".format(name,password,url,dbname))
            print ("DB connected successfully!!!")
    except pymongo.errors.ConnectionFailure as e:
        print ("Could not connect to DB: %s" % e) 
        
    db = db_conn[dbname]
    collection = db[collection_name]
    
    return collection


def kaggle_id(id):
    return "kaggle_train_" + str(id)


def sentiment140_id(id):
    return "sentiment140_" + str(id)


def random_sentiment(sentiment):
    sentiments_list = [-1,0,1]
    return random.choice(sentiments_list)

In [5]:
db_collection = db_connection("twitter_happiness_test")

DB connected successfully!!!

In [76]:
data_kaggle = pd.read_csv(
    "source/kaggle/train.csv",
    encoding='latin-1',
    header=0,
    names=["id_src","sentiment","text"]
)


data_kaggle["id"] = data_kaggle["id_src"].apply(kaggle_id)
data_kaggle["sentiment"] = data_kaggle["sentiment"].apply(random_sentiment)

print(data_kaggle.shape)
data_kaggle.head()

(99989, 4)

,id_src,sentiment,text,id
0,1,1,is so sad for my APL frie...,kaggle_train_1
1,2,1,I missed the New Moon trail...,kaggle_train_2
2,3,1,omg its already 7:30 :O,kaggle_train_3
3,4,-1,.. Omgaga. Im sooo im gunna CRy. I'...,kaggle_train_4
4,5,1,i think mi bf is cheating on me!!! ...,kaggle_train_5

In [77]:
db_collection.insert_many(data_kaggle.to_dict('records'))

In [78]:
print(db_collection.count())

99989

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

In [79]:
data_sentiment140 = pd.read_csv(
    "source/sentiment140/training.1600000.processed.noemoticon.csv",
    encoding='latin-1',
    header=None,
    names=["sentiment","id_src","date","flag","user","text"]
)

data_sentiment140["id"] = data_sentiment140["id_src"].apply(kaggle_id)
data_sentiment140["sentiment"] = data_sentiment140["sentiment"].apply(random_sentiment)

data_sentiment140 = data_sentiment140.head(100000).copy()
print(data_sentiment140.shape)
data_sentiment140.head()

(100000, 7)

,sentiment,id_src,date,flag,user,text,id
0,-1,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",kaggle_train_1467810369
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,kaggle_train_1467810672
2,-1,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,kaggle_train_1467810917
3,1,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,kaggle_train_1467811184
4,-1,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",kaggle_train_1467811193

In [80]:
db_collection.insert_many(data_sentiment140.to_dict('records'))

In [81]:
print(db_collection.count())

199989

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

In [9]:
for tweet in db_collection.find()[:10]:
    print(tweet)

{'_id': ObjectId('5bdcb049523ec4125a02eaeb'), 'id_src': 99968, 'sentiment': 0, 'text': '@CT_x thnx found her ', 'id': 'kaggle_train_99968'}
{'_id': ObjectId('5bdcb049523ec4125a02eaf8'), 'id_src': 99981, 'sentiment': 0, 'text': '@CTerry1985  Sorry', 'id': 'kaggle_train_99981'}
{'_id': ObjectId('5bdcb049523ec4125a02eafb'), 'id_src': 99984, 'sentiment': -1, 'text': '@cthagod ', 'id': 'kaggle_train_99984'}
{'_id': ObjectId('5bdcb049523ec4125a02eafc'), 'id_src': 99985, 'sentiment': -1, 'text': '@ctham  #FollowFriday', 'id': 'kaggle_train_99985'}
{'_id': ObjectId('5bdcb049523ec4125a02e899'), 'id_src': 99374, 'sentiment': 0, 'text': '@creativeswag ', 'id': 'kaggle_train_99374'}
{'_id': ObjectId('5bdcb049523ec4125a02e8a6'), 'id_src': 99387, 'sentiment': -1, 'text': '@creaturecomfort thanks ', 'id': 'kaggle_train_99387'}
{'_id': ObjectId('5bdcb049523ec4125a02e8ab'), 'id_src': 99392, 'sentiment': -1, 'text': '@crecks morning babes ', 'id': 'kaggle_train_99392'}
{'_id': ObjectId('5bdcb049523ec4125a02e8da'), 'id_src': 99439, 'sentiment': 0, 'text': '@crickle that sucks.  ', 'id': 'kaggle_train_99439'}
{'_id': ObjectId('5bdcb049523ec4125a02e8de'), 'id_src': 99443, 'sentiment': -1, 'text': '@criminalminds woo! ', 'id': 'kaggle_train_99443'}
{'_id': ObjectId('5bdcb049523ec4125a02e8e9'), 'id_src': 99454, 'sentiment': -1, 'text': '@crimsong19 ', 'id': 'kaggle_train_99454'}