# Load datasets to mLab

* https://www.kaggle.com/c/twitter-sentiment-analysis2/discussion
* https://www.kaggle.com/kazanova/sentiment140

In [1]:
import pymongo
import pandas as pd
import numpy as np
import random

In [2]:
def db_connection(collection_name): 
    # connect to mLab DB
    try:
        with open("../credentials/mlab_credentials.txt", 'r', encoding='utf-8') as f:
            [name,password,url,dbname]=f.read().splitlines()
            db_conn = pymongo.MongoClient("mongodb://{}:{}@{}/{}".format(name,password,url,dbname))
            print ("DB connected successfully!!!")
    except pymongo.errors.ConnectionFailure as e:
        print ("Could not connect to DB: %s" % e) 
        
    db = db_conn[dbname]
    collection = db[collection_name]
    
    return collection


def kaggle_id(id):
    return "kaggle_train_" + str(id)


def sentiment140_id(id):
    return "sentiment140_" + str(id)


def random_sentiment(sentiment):
    sentiments_list = [-2,-1,0,1,2]
    return random.choice(sentiments_list)


def random_location(dummy):
    location = random.choice(locations_list)
    #location = locations_list[0]
    lat = random_location_lat(location)
    lon = random_location_lon(location)
    return [lat,lon]

def random_location_lat(location):
    #location = random.choice(locations_list)
    #location = locations_list[0]
    lat = location["lat_min"] + random.random()*(location["lat_max"] - location["lat_min"])
    return lat

def random_location_lon(location):
    #location = random.choice(locations_list)
    #location = locations_list[0]
    lon = location["lon_min"] + random.random()*(location["lon_max"] - location["lon_min"])
    return lon

In [3]:
db_collection_locations = db_connection("twitter_happiness_locations")
locations_list = [location for location in db_collection_locations.find()]

DB connected successfully!!!

In [4]:
#locations_list

In [5]:
db_collection = db_connection("twitter_happiness_test")

DB connected successfully!!!

In [8]:
# uncomment to delete
#result = db_collection.delete_many({})
#print(result.deleted_count, " documents deleted")

199989  documents deleted

In [6]:
data_kaggle = pd.read_csv(
    "source/kaggle/train.csv",
    encoding='latin-1',
    header=0,
    names=["id_src","class","text"]
)


data_kaggle["id"] = data_kaggle["id_src"].apply(kaggle_id)
data_kaggle["class"] = data_kaggle["class"].apply(random_sentiment)
#data_kaggle["lat"] = data_kaggle["sentiment"].apply(random_location_lat)
#data_kaggle["lon"] = data_kaggle["sentiment"].apply(random_location_lon)
data_kaggle["loc"] = data_kaggle.apply(random_location, axis=1)
data_kaggle["lat"] = data_kaggle["loc"].apply(lambda loc: loc[0])
data_kaggle["lon"] = data_kaggle["loc"].apply(lambda loc: loc[1])


print(data_kaggle.shape)
data_kaggle.head()

(99989, 7)

,id_src,class,text,id,loc,lat,lon
0,1,0,is so sad for my APL frie...,kaggle_train_1,"[29.582283560127767, -95.2123669360277]",29.582284,-95.212367
1,2,-1,I missed the New Moon trail...,kaggle_train_2,"[-33.570346425730314, 151.21344609642875]",-33.570346,151.213446
2,3,-1,omg its already 7:30 :O,kaggle_train_3,"[45.47313525058968, -73.41354389931941]",45.473135,-73.413544
3,4,0,.. Omgaga. Im sooo im gunna CRy. I'...,kaggle_train_4,"[40.604535732046614, -73.72297983977568]",40.604536,-73.722980
4,5,1,i think mi bf is cheating on me!!! ...,kaggle_train_5,"[39.02454595409937, -76.98676381131986]",39.024546,-76.986764

In [7]:
db_collection.insert_many(data_kaggle.to_dict('records'))

In [8]:
print(db_collection.count())

99989

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

In [9]:
data_sentiment140 = pd.read_csv(
    "source/sentiment140/training.1600000.processed.noemoticon.csv",
    encoding='latin-1',
    header=None,
    names=["class","id_src","date","flag","user","text"]
)

data_sentiment140["id"] = data_sentiment140["id_src"].apply(kaggle_id)
data_sentiment140["class"] = data_sentiment140["class"].apply(random_sentiment)
#data_sentiment140["lat"] = data_sentiment140["sentiment"].apply(random_location_lat)
#data_sentiment140["lon"] = data_sentiment140["sentiment"].apply(random_location_lon)
data_sentiment140["loc"] = data_sentiment140.apply(random_location, axis=1)
data_sentiment140["lat"] = data_sentiment140["loc"].apply(lambda loc: loc[0])
data_sentiment140["lon"] = data_sentiment140["loc"].apply(lambda loc: loc[1])

data_sentiment140 = data_sentiment140.head(100000).copy()
print(data_sentiment140.shape)
data_sentiment140.head()

(100000, 10)

,class,id_src,date,flag,user,text,id,loc,lat,lon
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",kaggle_train_1467810369,"[41.36557063353792, 2.157612647313772]",41.365571,2.157613
1,-1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,kaggle_train_1467810672,"[45.50605609468136, -73.32406387925283]",45.506056,-73.324064
2,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,kaggle_train_1467810917,"[34.08652157769123, -117.29293802932993]",34.086522,-117.292938
3,2,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,kaggle_train_1467811184,"[38.84224867762802, -77.18531654343933]",38.842249,-77.185317
4,-1,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",kaggle_train_1467811193,"[38.78221887701957, -77.1430162922284]",38.782219,-77.143016

In [10]:
db_collection.insert_many(data_sentiment140.to_dict('records'))

In [11]:
print(db_collection.count())

199989

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

In [12]:
for tweet in db_collection.find()[:10]:
    print(tweet)

{'_id': ObjectId('5c00008a25aafd0b15779a6c'), 'id_src': 8837, 'class': 2, 'text': " brokeback mountain was terrible.\n8838,0,Sentiment140,# @Catherine42 I wouldn't mind but I only had 1/2 a portion &amp; then left 1/2 the cream  just fruit for me then until my hols  x\n8839,1,Sentiment140,# @DeliciousLunch ... dark chocolate cookies? oh you tease! I'm writing to day n dipping into twitter for company \n8840,1,Sentiment140,# followfriday @mstuyvenberg @feb_unsw @hazelmail @beckescreet - all almost as cool as he-man and she-ra \n8841,1,Sentiment140,# followfriday @presentsqueen because she talks sense \n8842,1,Sentiment140,# New York is the most amazing city i've ever been to \n8843,0,Sentiment140,# number times I bottomed out just in our driveway = 4... a 6.5 hour trip to mass.. I'm scared \n8844,0,Sentiment140,# of NYC celebrity street vendors &gt; # of POA celebrities  http://streetvendor.org/media/pdfs/Side2.pdf\n8845,1,Sentiment140,###### yay ##### thanks @matclayton ##### \n8846,0,Sentiment140,#$%#$^#%@ I HATE THE DENTIST", 'id': 'kaggle_train_8837', 'loc': [38.821101895410266, -77.06762464337092], 'lat': 38.821101895410266, 'lon': -77.06762464337092}
{'_id': ObjectId('5c00008b25aafd0b1578a08a'), 'id_src': 75948, 'class': -2, 'text': '@Bulgarin Ð\x94Ð°, Ð¢ÐµÑ\x80Ð¼Ð¸Ð½Ð°Ñ\x82Ð¾Ñ\x80Ð° Ð¿Ð¾Ñ?Ð¼Ð¾Ñ\x82Ñ\x80ÐµÐ», Ð¿Ñ\x80Ð¸ÐºÐ¾Ð»Ñ\x8cÐ½Ñ\x8bÐ¹, Ð² Ð»Ñ\x83Ñ\x87Ñ\x88Ð¸Ñ\x85 Ñ\x82Ñ\x80Ð°Ð´Ð¸Ñ\x86Ð¸Ñ?Ñ\x85 Ð¿ÐµÑ\x80Ð²Ñ\x8bÑ\x85 2 Ñ\x87Ð°Ñ?Ñ\x82ÐµÐ¹. Ð\x94Ð°Ð¶Ðµ Ð¨Ð²Ð°Ñ\x80Ñ\x86Ð° Ð¾Ñ\x82Ð¼Ð¾Ð´ÐµÐ»Ð¸Ñ\x80Ð¾Ð²Ð°Ð»Ð¸ ', 'id': 'kaggle_train_75948', 'loc': [41.4450250477423, 2.032554533946953], 'lat': 41.4450250477423, 'lon': 2.032554533946953}
{'_id': ObjectId('5c00008b25aafd0b1578f43d'), 'id_src': 97375, 'class': 1, 'text': '@ctrld Ð¥Ð¼Ð¼... Ð¯ Ð±Ñ\x8b Ñ\x82Ð¾Ð¶Ðµ Ð½Ðµ Ð¾Ñ\x82ÐºÐ°Ð·Ð°Ð»Ñ?Ñ? Ð¿Ð¾Ð¿Ñ\x80Ð¾Ð±Ð¾Ð²Ð°Ñ\x82Ñ\x8c Ñ?ÐµÐ±Ñ? Ð² Ñ?ÐºÐ°Ð»Ð¾Ð»Ð°Ð·Ð°Ð½Ð¸Ð¸. Ð\x92Ð¾Ñ\x82 Ñ\x82Ð¾Ð»Ñ\x8cÐºÐ¾ Ñ\x83 Ð½Ð°Ñ? Ð²Ð¾ Ð\x9bÑ\x8cÐ²Ð¾Ð²Ðµ Ð¿Ð¾Ð´Ð¾Ð±Ð½Ñ\x8bÑ\x85 Ñ?ÐµÐºÑ\x86Ð¸Ð¹ Ð½Ð°Ð²ÐµÑ\x80Ð½Ñ?ÐºÐ° Ð½ÐµÑ\x82 ', 'id': 'kaggle_train_97375', 'loc': [41.451886006548264, 2.0327315372855055], 'lat': 41.451886006548264, 'lon': 2.0327315372855055}
{'_id': ObjectId('5c00008b25aafd0b157835b8'), 'id_src': 48602, 'class': 1, 'text': '@Arwy Ð´Ð¸Ñ?Ðº Ð½Ðµ Ð¿Ñ\x80Ð¾Ð²ÐµÑ\x80Ñ?Ð», Ð½Ðµ Ð·Ð½Ð°Ñ\x8e. Ð?Ð¾ Ð¿Ð¾ÐºÐ°Ð·Ð°Ð»Ð¾Ñ?Ñ\x8c, Ñ\x87Ñ\x82Ð¾ backup Ð°Ð¹Ñ\x84Ð¾Ð½Ð° Ð¾Ð¿Ñ?Ñ\x82Ñ\x8c Ð´ÐµÐ»Ð°ÐµÑ\x82Ñ?Ñ? Ð´Ð¾Ð»Ð³Ð¾  Ð² Ð¿Ñ\x80Ð¾Ñ\x88Ð»Ð¾Ð¹ Ð²ÐµÑ\x80Ñ?Ð¸Ð¸ Ð²Ñ\x80Ð¾Ð´Ðµ Ð¿Ð¾Ð¿Ñ\x80Ð°Ð²Ð¸Ð»Ð¸, Ð° Ñ?ÐµÐ¹Ñ\x87Ð°Ñ? Ð¾Ð¿Ñ?Ñ\x82Ñ\x8c!', 'id': 'kaggle_train_48602', 'loc': [29.80953190162435, -95.09986321524649], 'lat': 29.80953190162435, 'lon': -95.09986321524649}
{'_id': ObjectId('5c00008b25aafd0b15784a5c'), 'id_src': 53886, 'class': -1, 'text': '@aumpradya @BeYourCyber @jetboat @nuboat @9dap @godzeelus @mormmam à¸\x82à¸\xadà¸\x9aà¸\x84à¸¸à¸\x93à¸\x97à¸¸à¸?à¸\x84à¸\x99à¸¡à¸²à¸?à¸\x84à¸£à¸±à¸\x9a à¹?à¸«à¸¡à¹\x80à¸\x9eà¸·à¹\x88à¸\xadà¸\x99à¹\x86 à¹\x83à¸\x99 Twitter à¹\x84à¸¡à¹\x88à¹\x80à¸\x84à¸¢à¸\x97à¸³à¹\x83à¸«à¹\x89à¸\x9cà¸´à¸\x94à¸«à¸§à¸±à¸\x87à¹\x80à¸¥à¸¢ ', 'id': 'kaggle_train_53886', 'loc': [33.65224147772364, -118.87257573844512], 'lat': 33.65224147772364, 'lon': -118.87257573844512}
{'_id': ObjectId('5c00008a25aafd0b1577f9a2'), 'id_src': 33220, 'class': -1, 'text': '@ahohey  project design à¹\x80à¸\x94à¹\x87à¸?à¸\x9eà¸µà¹\x88à¸\x9bà¸µà¸\x99à¸µà¹\x89à¸¡à¸«à¹\x89à¸\xadà¸\xadà¸?à¹?à¸\x9aà¸\x9aà¹\x82à¸£à¸\x87à¸\x9eà¸¢à¸²à¸\x9aà¸²à¸¥....à¸?à¸³à¸¥à¸±à¸\x87à¸\x97à¸³à¹\x82à¸\x9bà¸£à¹?à¸?à¸£à¸¡à¸\xadà¸¢à¸¹à¹\x88....à¹\x80à¸\x8aà¸´à¸?à¹\x80à¸\x95à¸¢à¸¡à¸² comment à¸\x94à¸µà¸?à¸§à¹\x88à¸² 5555    function à¹\x80à¸¢à', 'id': 'kaggle_train_33220', 'loc': [33.66656635558013, -118.93465201855707], 'lat': 33.66656635558013, 'lon': -118.93465201855707}
{'_id': ObjectId('5c00008a25aafd0b15782d0f'), 'id_src': 46385, 'class': 0, 'text': '@ApartHotel Ñ\x82Ñ\x8b Ñ?ÐºÐ¾Ñ\x80ÐµÐµ Ð¿Ð¾Ñ\x82ÐµÑ\x80Ñ?ÐµÑ\x88Ñ\x8c Ð¸Ð»Ð¸ Ð¿Ð¾Ð¼ÐµÐ½Ñ?ÐµÑ\x88Ñ\x8c Ñ\x82ÐµÐ»ÐµÑ\x84Ð¾Ð½ Ð¿Ñ\x80ÐµÐ¶Ð´Ðµ Ñ\x87ÐµÐ¼ Ñ?Ð´Ð¾Ñ\x85Ð½ÐµÑ\x82 Ð°ÐºÐºÑ\x83Ð¼Ñ\x83Ð»Ñ?Ñ\x82Ð¾Ñ\x80  Ð\x97Ð°Ñ\x82Ð¾ Ð¿Ñ\x80Ð¾Ñ\x87Ð½Ð¾Ñ?Ñ\x82Ñ\x8c Ñ?Ð±Ð¾Ñ\x80ÐºÐ¸ Ð±ÐµÑ?Ð¿Ð¾Ð´Ð¾Ð±Ð½Ð°Ñ? - ÐºÐ°Ðº Ð¼Ð¾Ð½Ð¾Ð»Ð¸Ñ\x82!', 'id': 'kaggle_train_46385', 'loc': [43.757230415148626, -79.59488181337163], 'lat': 43.757230415148626, 'lon': -79.59488181337163}
{'_id': ObjectId('5c00008b25aafd0b1578c5a0'), 'id_src': 85442, 'class': -2, 'text': '@ceggs Naw ! They just turned the burgers over ! Glad you fixed it though! ', 'id': 'kaggle_train_85442', 'loc': [34.32384852203179, -118.72588373819883], 'lat': 34.32384852203179, 'lon': -118.72588373819883}
{'_id': ObjectId('5c00008b25aafd0b1578c5a2'), 'id_src': 85444, 'class': 0, 'text': '@ceggs what too?? - something with in ', 'id': 'kaggle_train_85444', 'loc': [42.27829832469255, -87.83258964893214], 'lat': 42.27829832469255, 'lon': -87.83258964893214}
{'_id': ObjectId('5c00008b25aafd0b1578c5a3'), 'id_src': 85445, 'class': 2, 'text': "@cehsja, aah, TD...that's too bad! ", 'id': 'kaggle_train_85445', 'loc': [42.16358623923736, -87.64685804600867], 'lat': 42.16358623923736, 'lon': -87.64685804600867}

In [13]:
print(db_collection.count())

199989

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

In [14]:
db_collection_tweets = db_connection("tweets")

DB connected successfully!!!

In [17]:
for tweet in db_collection_tweets.find()[:]:
    #print(tweet)
    print(tweet[""])

KeyError: ''

In [22]:
type(db_collection_tweets.find()[0]["created_at"])

str